/* MISC */
/*COLORS*/
/* Spacing */
/* Font-Family  */
/* Font-Sizes */
/* box2 */
/*.border-img {
    border: solid 2px black;
}
*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: #08080e;
  font-size: 2rem; }

header .header__img {
  max-width: 90px;
  padding: 10px;
  justify-content: space-between; }

/* PARTIALS*/
/*HEADER*/
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-around;
  padding: 20px;
  background-color: dodgerblue; }

.menu__link {
  display: flex;
  padding: 5px;
  border: 3px whitesmoke solid;
  box-sizing: border-box;
  text-align: center;
  transition: background-color 2s; }
  .menu__link:hover {
    -webkit-text-fill-color: goldenrod;
    background-color: black;
    transition: background-color 2s; }

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: dodgerblue;
  width: 100%;
  align-items: center; }
  footer.redes, footer p, footer a {
    text-align: center;
    color: white;
    text-decoration: none; }

@media (max-width: 320px) {
  footer {
    display: flex;
    text-align: center;
    font-size: x-small;
    width: 100%; } }

@media (max-width: 413px) {
  footer {
    display: flex;
    text-align: center;
    font-size: x-small;
    width: 100%; } }

/* VIEWS */
* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

body {
  color: #08080e; }

a {
  color: whitesmoke;
  text-decoration: none; }

h2 {
  text-align: center;
  color: #757780;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 2rem;
  border-radius: 2px;
  border-color: #a6a493;
  border-style: solid;
  background-color: #DBD4D3; }

h3 {
  display: flex;
  text-align: center;
  padding: 30px;
  margin: 30px;
  font-size: 1.5rem;
  flex-direction: column; }

.gallery-selecciones {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  padding: 30px;
  grid-gap: 10px;
  background-size: cover;
  grid-gap: 2rem; }

.gallery__picture {
  display: flex;
  position: relative; }
  .gallery__picture .galery__img {
    width: 100%;
    object-fit: cover; }
  .gallery__picture:nth-child(1):hover {
    transform: scale(1.05); }
  .gallery__picture:nth-child(1) {
    transition: transform .6s; }
  .gallery__picture:nth-child(2):hover {
    transform: scale(1.05); }
  .gallery__picture:nth-child(2) {
    transition: transform .6s; }
  .gallery__picture:nth-child(3):hover {
    transform: scale(1.05); }
  .gallery__picture:nth-child(3) {
    transition: transform .6s; }
  .gallery__picture:nth-child(4):hover {
    transform: scale(1.05); }
  .gallery__picture:nth-child(4) {
    transition: transform .6s; }
  .gallery__picture:nth-child(5):hover {
    transform: scale(1.05); }
  .gallery__picture:nth-child(5) {
    transition: transform .6s; }

.colection {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(10, 1fr);
  padding: 30px;
  grid-gap: 10px;
  background-size: cover;
  grid-gap: 2rem; }

.colection__item {
  display: flex;
  position: relative; }

.colection__img {
  width: 100%;
  object-fit: cover; }

.shoes {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  grid-gap: 10px;
  background-size: cover;
  grid-gap: 2rem; }

.shoes__item {
  display: flex;
  position: relative; }

.shoes__img {
  width: 100%;
  object-fit: cover; }

.pagos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center; }

@media (max-width: 768px) {
  .gallery-container, .colection__item, .shoes__img {
    grid-template-columns: repeat(7, 1fr); }
  .gallery__item, .colection__item, .shoes__item:nth-child(1) {
    grid-column-start: span 3; }
  .gallery__item, .colection__item, .shoes__item:nth-child(2) {
    grid-column-start: span 2; }
  .gallery__item, .colection__item, .shoes__item:nth-child(3) {
    grid-column-start: span 3; }
  .gallery__item, .colection__item, .shoes__item:nth-child(4) {
    grid-column-start: span 4;
    grid-row-start: span 4; }
  .gallery__item, .colection__item:nth-child(5) {
    grid-row-start: span 3; } }

@media (min-width: 769px) {
  .gallery-container, .colection__item, .shoes__img {
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    margin: auto; }
  .gallery__item, .colection__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .gallery__item, .colection__item:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .gallery__item, .colection__item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 4; }
  .gallery__item, .colection__item:nth-child(5) {
    grid-column-start: span 3;
    grid-row-start: span 1; } }

@media (max-width: 320px) {
  .gallery__img, .colection__img, .shoes__img {
    width: 100%;
    height: 100%; }
  .gallery-selecciones, .colection, .shoes {
    grid-template-columns: repeat(1, 1fr); }
  .gallery__picture, .colection:nth-child(1) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__picture, .colection:nth-child(2) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__picture, .colection:nth-child(3) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__picture, .colection:nth-child(4) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__picture, .colection:nth-child(5) {
    grid-column-start: span 4;
    grid-row-start: span 2; } }

@media (max-width: 1024px) {
  .gallery-container, .colection__item {
    grid-template-columns: repeat(7, 1fr); } }

.gallery__item, .colection__item:nth-child(1) {
  grid-row-start: span 2;
  grid-column-start: span 2; }

.gallery__item, .colection__item:nth-child(2) {
  grid-row-start: span 2;
  grid-column-start: span 2; }

.gallery__item, .colection__item:nth-child(3) {
  grid-row-start: span 2;
  grid-column-start: span 2; }

.gallery__item, .colection__item:nth-child(4) {
  grid-row-start: span 2;
  grid-column-start: span 2; }

.gallery__item, .colection__item:nth-child(5) {
  grid-row-start: span 2;
  grid-column-start: span 2; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px; }

.gallery-container {
  background-color: darksalmon; }

.gallery__item {
  position: relative; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.gallery__title {
  position: absolute;
  bottom: 0;
  color: white;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0), black);
  width: 100;
  margin: 0;
  padding: 5px; }

h1 {
  position: relative;
  display: flex;
  justify-content: center; }

.gallery__item:nth-child(2) {
  grid-column-start: span 2; }

.gallery__item:nth-child(3) {
  grid-row-start: span 2;
  grid-column-start: span 2; }

.gallery__item:nth-child(4) {
  grid-column-start: span 1; }

.gallery__item:nth-child(5) {
  grid-column-start: span 3; }

.gallery__item:nth-child(6) {
  grid-column-start: span 3;
  grid-row-start: span 2; }

.gallery__item:nth-child(7) {
  grid-column-start: span 3;
  grid-row-start: span 2; }

.gallery__item:nth-child(8) {
  grid-column-start: span 3; }

.gallery__item:nth-child(9) {
  grid-column-start: span 3; }

.gallery__item:nth-child(10) {
  grid-column-start: span 3; }

@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(7, 1fr); }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2; }
  .gallery__item:nth-child(2) {
    grid-column-start: span 2; }
  .gallery__item:nth-child(3) {
    grid-column-start: span 3; }
  .gallery__item:nth-child(4) {
    grid-column-start: span 4;
    grid-row-start: span 4; }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3; }
  .gallery__item:nth-child(7) {
    grid-column-start: span 4; }
  .gallery__item:nth-child(9) {
    grid-column-start: span 4;
    grid-row-start: span 3; }
  .gallery__item:nth-child(10) {
    grid-column-start: span 3;
    grid-row-start: span 2; } }

@media (min-width: 769px) {
  .gallery-container {
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    margin: auto; }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .gallery__item:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 6; }
  .gallery__item:nth-child(5) {
    grid-column-start: span 3;
    grid-row-start: span 1; }
  .gallery__item:nth-child(9) {
    grid-column-start: span 3;
    grid-row-start: span 3; }
  .gallery__item:nth-child(10) {
    grid-column-start: span 6;
    grid-row-start: span 2; } }

@media (max-width: 320px) {
  .gallery__img {
    width: 100%; }
  .gallery-container {
    grid-template-columns: repeat(4, 1fr); }
  .gallery__item:nth-child(1) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__item:nth-child(2) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__item:nth-child(3) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__item:nth-child(4) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__item:nth-child(5) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__item:nth-child(6) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__item:nth-child(7) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__item:nth-child(8) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__item:nth-child(9) {
    grid-column-start: span 4;
    grid-row-start: span 2; }
  .gallery__item:nth-child(10) {
    grid-column-start: span 4;
    grid-row-start: span 2; } }

.box2 {
  display: grid;
  justify-items: center;
  margin: 10%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  grid-auto-flow: dense;
  color: #08080e; }

.box1 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  padding: 20px;
  grid-gap: 10px;
  background-color: dodgerblue; }

.box1__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.box1__img {
  width: 100%;
  object-fit: cover; }

.box2 {
  display: grid;
  justify-items: center;
  margin: 10%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  grid-auto-flow: dense;
  color: #08080e; }

@media (max-width: 1024px) {
  .box1 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .box1__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .box1__item:nth-child(2) {
    grid-column-start: span 1;
    grid-row-start: span 1; }
  .box1__item:nth-child(3) {
    grid-column-start: span 1;
    grid-row-start: span 1; }
  .box1__item:nth-child(4) {
    grid-column-start: span 1; }
  .box1__item:nth-child(5) {
    grid-column-start: span 1; } }

@media (max-width: 768px) {
  .box1 {
    display: grid;
    justify-items: center;
    margin: 10%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-flow: dense;
    color: #08080e; } }

@media (max-width: 699px) {
  .box1 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: dense; }
  .box1__item:nth-child(1) {
    grid-column-start: span 1;
    grid-row-start: span 1;
    width: 100%; }
  .box1__item:nth-child(2) {
    grid-column-start: span 1;
    grid-row-start: span 1; }
  .box1__item:nth-child(3) {
    grid-column-start: span 1;
    grid-row-start: span 1; }
  .box1__item:nth-child(4) {
    grid-column-start: span 1;
    grid-row-start: span 1; }
  .box1__item:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 1; } }

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  background-color: lightblue; }
  .box.box__titulo {
    text-align: center;
    margin-left: 30px;
    margin-right: 50px;
    width: 85%;
    font-size: large; }
    .box.box__titulo.box__text {
      font-size: medium;
      color: #08080e;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-right: 1rem; }
