/*FOOTER*/ 



footer {
    
    color: white;
    background-color: blue;
    display: flex;
    justify-content:space-around ;
        &:redes, p, a {
            text-align: center;
            color: white;
            text-decoration: none;}
}