/*FOOTER*/ 



footer {
    display: flex;
    justify-content:space-around ;
    color: white;
    background-color: blue;
    width: 100%;
    align-items: center;
    
        &.redes, p, a {
            text-align: center;
            color: white;
            text-decoration: none;}
}