/*HEADER*/

header {
    @include flex (center, space-around);
    justify-content: space-around;
    padding: 20px;
    // background-image: linear-gradient(rgb(41, 100, 152) 0%, rgb(87, 112, 196) 50%, rgb(37, 60, 212) 100%);
    background-color: dodgerblue;
}

.menu__link {
    display: flex;
    padding: 5px;
    border: 3px whitesmoke solid;
    box-sizing: border-box;
    text-align: center;
    transition: background-color 2s;
        &:hover {
    -webkit-text-fill-color: goldenrod;
    background-color: black;
    transition: background-color 2s;    
    }
}