
* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    color: $primary
}

a {
    color: whitesmoke;
    text-decoration: none;
    // background-color: transparent;
}

h2 {
    text-align: center;
    color: #757780;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 2rem;
    border-radius: 2px;
    border-color: #a6a493;
    border-style: solid;
    background-color:#DBD4D3;

}

h3 {
    display: flex;
    text-align: center;
    padding: 30px;
    margin: 30px;
    font-size: 1.5rem;
    flex-direction: column;

}

.gallery-selecciones {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    padding: 30px;
    grid-gap: 10px;
    background-size: cover;
    grid-gap: map-get($map: $spacing, $key: $spacing-small)
}

.gallery__picture {
    display: flex;
    position: relative;

.galery__img {
        width: 100%;
        object-fit: cover;
    }
    
    &:nth-child(1):hover {
        transform: scale(1.05);
}
    &:nth-child(1) {
        transition: transform .6s;
}

    &:nth-child(2):hover {
        transform: scale(1.05);
    }
    
    &:nth-child(2) {
        transition: transform .6s;
    }

    &:nth-child(3):hover {
        transform: scale(1.05);
        }
        
    &:nth-child(3) {
        transition: transform .6s;
        }

    &:nth-child(4):hover {
        transform: scale(1.05);
        }
            
    &:nth-child(4) {
        transition: transform .6s;
        }

    &:nth-child(5):hover {
        transform: scale(1.05);
        }
            
    &:nth-child(5) {
        transition: transform .6s;
        }

}




.colection {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    // grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    padding: 30px;
    grid-gap: 10px;
    background-size: cover;
    grid-gap: map-get($map: $spacing, $key: $spacing-small)
  }

 .colection__item {
          display: flex;
         position: relative;
 }

 .colection__img {
        width: 100%;
        object-fit: cover;
 }

 .shoes {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    padding: 30px;
    grid-gap: 10px;
    background-size: cover;
    grid-gap: map-get($map: $spacing, $key: $spacing-small)
 }

 .shoes__item {
   display: flex;
   position: relative;
}

.shoes__img {
  width: 100%;
  object-fit: cover;
}

.pagos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
}

// MEDIA QUERYS



@media (max-width: 768px) {
    .gallery-container, .colection__item, .shoes__img {
        grid-template-columns: repeat(7, 1fr);
    }

    .gallery__item, .colection__item, .shoes__item:nth-child(1) {
        grid-column-start: span 3;
    }

    .gallery__item, .colection__item, .shoes__item:nth-child(2) {
        grid-column-start: span 2;
    }

    .gallery__item, .colection__item, .shoes__item:nth-child(3) {
        grid-column-start: span 3;
    }

    .gallery__item, .colection__item, .shoes__item:nth-child(4) {
        grid-column-start: span 4;
        grid-row-start: span 4;
    }
    
    .gallery__item, .colection__item:nth-child(5) {
        grid-row-start: span 3;
    }

}

@media (min-width: 769px) {
    .gallery-container, .colection__item, .shoes__img {
        grid-template-columns: repeat(12, 1fr);
        width: 90%;
        margin: auto;
    }

    .gallery__item, .colection__item:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .gallery__item, .colection__item:nth-child(2) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .gallery__item, .colection__item:nth-child(4) {
        grid-column-start: span 3;
        grid-row-start: span 4;
    }

    .gallery__item, .colection__item:nth-child(5) {
        grid-column-start: span 3;
        grid-row-start: span 1;
    }

    
}

@media (max-width: 320px) {
    .gallery__img, .colection__img, .shoes__img {
        width: 100%;
        height: 100%;
    }

    
    .gallery-selecciones, .colection, .shoes {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery__picture, .colection:nth-child(1) {
        grid-column-start: span 4;
        grid-row-start: span 2;
    }

    .gallery__picture, .colection:nth-child(2) {
        grid-column-start: span 4;
        grid-row-start: span 2;
    }

    .gallery__picture, .colection:nth-child(3) {
        grid-column-start: span 4;
        grid-row-start: span 2;
    }

    .gallery__picture, .colection:nth-child(4) {
        grid-column-start: span 4;
        grid-row-start: span 2;
    }
    
    .gallery__picture, .colection:nth-child(5) {
        grid-column-start: span 4;
        grid-row-start: span 2;
    }
}

@media (max-width: 1024px) {
    .gallery-container, .colection__item {
        grid-template-columns: repeat(7, 1fr);
}
}
.gallery__item, .colection__item:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.gallery__item, .colection__item:nth-child(2) {
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.gallery__item, .colection__item:nth-child(3) {
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.gallery__item, .colection__item:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.gallery__item, .colection__item:nth-child(5) {
    grid-row-start: span 2;
    grid-column-start: span 2;
}