.box {
    display: flex;
    
    
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    background-color: lightblue;
    &.box__titulo {
        text-align: center;
        margin-left: 30px;
        margin-right: 50px;
        width: 85%;
        font-size: large;
        
        &.box__text {
            font-size:medium;
            color: $primary;
            margin-top: 20px;
        }
    }
}



