
.box1 {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    padding: 20px;
    grid-gap: 10px;
    background-color: dodgerblue;
}

.box1__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box1__img {
    width: 100%;
    object-fit: cover;
}

.box2 {
    display: grid;
    justify-items: center;
    margin: 10%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    grid-auto-flow: dense;
    color: $primary;
}


// MEDIA QUERYS
@media (max-width: 1024px) {
    .box1 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .box1__item:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .box1__item:nth-child(2) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .box1__item:nth-child(3) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .box1__item:nth-child(4) {
        grid-column-start: span 1;
    }

    .box1__item:nth-child(5) {
        grid-column-start: span 1;
    }
}
 
  @media (max-width: 768px) {
     .box1 {
         display: grid;
         justify-items: center;
         margin: 10%;
         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
         gap: 20px;
         grid-auto-flow: dense;
         color: $primary;
     }
 }

 @media (max-width: 699px) {
      .box1 {
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: repeat(1, 1fr);         
         grid-auto-flow: dense;
     }
      .box1__item:nth-child(1) {
          grid-column-start: span 1;
         grid-row-start: span 1;
          width: 100%;
      }
      .box1__item:nth-child(2) {
          grid-column-start: span 1;
          grid-row-start: span 1;
      }

      .box1__item:nth-child(3) {
          grid-column-start: span 1;
          grid-row-start: span 1;
      }

      .box1__item:nth-child(4) {
          grid-column-start: span 1;
          grid-row-start: span 1;
      }

      .box1__item:nth-child(5) {
          grid-column-start: span 1;
          grid-row-start: span 1;
      }
  }