* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    
    font-family: $primary;
    font-size: 2rem;
    background-image: url(../img1/Continentes.jpg);
    background-size: cover;
}

header .header__img {
    max-width: 90px;
}

